body {
  background-image: url(./img/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  align-items: center;
  /*color: aliceblue;*/
  font-size: 4rem;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
    color: whitesmoke;
}

.result {
    height: 60px;
    background-color: #B72864;
    width: 100%;
    color: aliceblue;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px 15px 0 0;
    display: flex;
    justify-content: flex-end;
  
  }
  
  .calculator-body {
    max-width: 400px;
    margin: auto;
  }
  
  .button {
    display: block;
    /*background-color: #bbb;*/
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
  }

.operator {
  background-color: orange;
}

.egal {
  background-color: greenyellow;
}